body {
  font-family: 'Fira Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.menu {
  background-color: black;
  color: white;
  width: 100%;
}

.menu a {
  color: hotpink;
}

.venue label {
  color: hotpink;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  margin: 0 20px;
  display: inline-block;
}

.calendar li {
  padding: 20px 10px;
}

.event:nth-child(even) {
  background:rgba(0,0,0,0.1);
}

.event {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto;
  align-content: start;
}

.event .date {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: start;
}

.event .overview {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.event .overview .title {
  font-size: 20px;
}

.event .overview .venue {
  font-size: 14px;
  font-style: italic;
}

.event .date .day {
  font-size: 200%;
  font-weight: 800;
  margin-bottom: 10px;
}

.event a {
  font-size: 16px;
  border-bottom: 1px dotted hotpink;
  color: hotpink;
  text-decoration: none;
}
